<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
    <link rel="stylesheet" href="/CSS/common.css">
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <div class="titleAll">
        <div class="title">
            <div class="titleHead"><a href="/">Fakebook</a></div>
            <div class="searchFrame"><input type="text" class="search"></div>
            <div class="sign">
                <div class="signlist">
                    <span class="chatFrame"><img src="/icon/chat1.png" alt=""></span>
                    <span class="notifyFrame"><img src="/icon/notification.png" alt="" width="32px"></span>
                    <span class="memberSystemFrame"><img src="/icon/member_icon.png" class="memberSystemAvatar"></span>
                </div>
            </div>
        </div>
        <div class="searchResultFrame" style="display: none;">
            <div class="allSearchResult"></div>
        </div>
        <div class="memberSystem" style="display: none;">
            <div class="memberFrameSystem">
                <a href="/member" class="memberLink nameLink"><div class="memberCenter"></div></a>
                <div class="signOut">登出</div>
            </div>
        </div>
        <div class="notificationbarFrame" style="display: none;">
            <div class="notificationbar">
                <div class="notificationbarText">通知</div> 
            </div>
            <div class="notificationbarContent"></div> 
        </div>
        <div class="chatroombarFrame" style="display: none;">
            <div class="chatroombar">
                <div class="chatroombarText">聊天室</div> 
            </div>
            <div class="chatroombarContent"></div> 
        </div>
    </div>
    <div class="backChat" style="display: none;"></div>

    <script src="/socket.io/socket.io.js"></script>
</body>
</html>