<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
    <link rel="stylesheet" href="/CSS/common.css">
</head>
<body>
    <div class="titleAll">
        <div class="title">
            <div class="titleHead"><a href="/">Fakebook</a></div>
            <div class="searchFrame"><input type="text" class="search"></div>
            <div class="sign">
                <div class="signlist">
                    <span class="chatFrame"><img src="/icon/chat1.png" alt=""></span>
                    <span class="notifyFrame"><img src="/icon/notification.png" alt="" width="32px"></span>
                    <span class="memberSystemFrame"><img src="/icon/member_icon.png" class="memberSystemAvatar"></span>
                </div>
            </div>
        </div>
        <div class="searchResultFrame" style="display: none;">
            <div class="allSearchResult">
                <!-- <a href="/member/1" class="memberNameLink">
                    <div class="searchResult">
                        <div class="searchResultImageFrame">
                            <img src="/icon/chat1.png" class="searchResultImage">
                        </div>
                        <div class="searchResultTextFrame">
                            <span class="searchResultText">ting</span>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
        <div class="memberSystem" style="display: none;">
            <div class="memberFrameSystem">
                <div class="memberCenter"><a href="/member" class="memberLink nameLink"></a></div>
                <div class="signOut">登出</div>
            </div>
        </div>
        <div class="notificationbarFrame" style="display: none;">
            <div class="notificationbar">
                <div class="notificationbarText">通知</div> 
            </div>
            <div class="notificationbarContent">
                <!-- <div class="invitationFrame">
                    <div class="invitationAvatarMessageFrame">
                        <div class="invitationAvatarFrame"><img src="" class="invitationAvatar"></div>
                        <div class="invitationMessage"> 誰誰誰接受了你的交友邀請</div>
                    </div>
                    <div class="chooseFrame">
                        <div class="accept"> 接受 </div>
                        <div class="reject"> 拒絕 </div>
                    </div>
                </div> -->
            </div> 
        </div>
    </div>
</body>
</html>