<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
    <link rel="stylesheet" type="text/css" href="/CSS/index.css">
</head>
<body>
    <div class="Fakebookloading">
        <div class="FakebookLoadingText">Loading</div>
        <img src="/icon/loading.gif" />
    </div>
    <div class="backgroundFrame" style="display: none;">
        <!-- location -->
        <div class="locationFrame none">
            <div class="searclocationTextFrame">
                <div class="searclocationText">搜尋地點</div>
                <div><img src="/icon/close.png" width="32px" class="closelocation"></div>
            </div>
            <hr>
            <div class="searchlocationFrame">
                <input type="text" class="searchlocation">
            </div>
            <hr>
            <div class="searchresultframeback"></div>
        </div>
        <!-- zoomimage -->
        <div class="zoomimageFrame" style="display: none;">
            <img src="/icon/close.png" class="closeImageZoom">
            <div class="zoomimage">
                <img src="" class="ImageZoom">
            </div>
        </div>
        <!-- image -->
        <div class="imageFrame none">
            <div class="imageTextFrame">
                <div class="imageText">上傳圖片</div>
                <div><img src="/icon/close.png" width="32px" class="closeImage"></div>
            </div>
            <hr>
            <div class="selectImageFrame">
                <input type="file" class="upload" accept="image/*" multiple="multiple">
            </div>
            <hr>
            <div class="imagePreviewframeback">
                <div class="errorMessage none">數量最多三張!!!!!!</div>
                <div class="imagePreviewframe">
                    <div class="imagePreview"></div>
                </div>
                <div class="buttonFrame"><button type="button"class="button">確認</button></div>
            </div>
        </div>
        <div class="postLikerFrame none">
            <div class="postLikerTextFrame">
                <div class="postLikerText">案讚的人</div>
                <div><img src="/icon/close.png" width="32px" class="closePostLiker"></div>
            </div>
            <hr>
            <div class="allPostLikerFrame"></div>
        </div>
        <div class="createSocietyFrame none">
            <div class="createSocietyTextFrame">
                <div class="createSocietyText">建立社團</div>
                <div><img src="/icon/close.png" width="32px" class="closeCreateSociety"></div>
            </div>
            <hr>
            <div class="createSocietyContentFrame">
                <div class="createSocietyNameFrame">
                    <div class="createSocietyNameText">社團名稱 : </div>
                    <input type="text" class="createSocietyNameInput" placeholder="社團名稱">
                </div>
                <div class="createSocietyPrivacyFrame">
                    <div class="createSocietyPrivacyInputFrame">
                        <div class="createSocietyPrivacyText">選擇隱私設定 : </div>
                        <div class="createSocietyPrivacyInput">公開</div>
                    </div>
                </div>
                <div class="createSocietyPrivacy">
                    <div class="globalFrame">
                        <div class="global">公開</div>
                        <div class="globalContent">任何人都可以查看到社團成員和他們的發布貼文</div>
                    </div>
                    <div class="privacyFrame">
                        <div class="privacy">私密</div>
                        <div class="privacyContent">只有成員可以查看到社團成員和他們的發布貼文</div>
                    </div>
                </div>
                <div class="createSocietyHideFrame" style="display: none;">
                    <div class="createSocietyHideInputFrame">
                        <div class="createSocietyHideText">隱藏社團 : </div>
                        <div class="createSocietyHideInput">開放搜尋</div>
                    </div>
                </div>
                <div class="createSocietyHide">
                    <div class="openSearchFrame">
                        <div class="openSearch">開放搜尋</div>
                        <div class="openSearchContent">所有的人都可以找到這個社團</div>
                    </div>
                    <div class="hideFrame">
                        <div class="hide">隱藏</div>
                        <div class="hideContent">只有成員可以找到這個社團</div>
                    </div>
                </div>
                <div class="createSocietyResult"></div>
            </div>
            <div class="createSocietyButtonFrame">
                <div class="createSocietyButton">建立</div>
            </div>
        </div>
    </div>
    <%- include("common") %>
    <div class="statuslist">
        <div class="selectFrame">
            <div class="memberFrame">
                <div class="homepageframe"><img src="/icon/homepage.png" alt="" width="20px" height="20px"><div class="home">首頁</div></div>
                <a href="/member" class="nameLink">
                    <div class="member">
                        <img src="" class="memberavatar">
                        <div class="membername">會員名稱</div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="societyFrame">
                <div class="createSociety">
                    <div class="societyAvatar"><img src="/icon/society.png"></div>
                    <div class="societyName">建立新社團</div>
                </div>
            </div>
        </div>
    </div>
    <div class="positionfriend" >
        <div class="contactPersonFrame">
            <div class="contactPersonTextFrame">
                <div class="contactPersonText">聯絡人</div>
            </div>
            <div class="PersonFrame"></div>
        </div>
    </div>
    <div class="root">
        <div class="AllPostFrame">
            <div class="postBlock">
                <div class="postFrame">
                    <div class="postmemberArea">
                        <a href="/member" class = "nameLink">
                            <div class="memberPostAvatar">
                                <img src="" alt="" class="memberPostAvatarImg">
                            </div>
                        </a>
                        <textarea class="postTextInput" placeholder="在想些什麼?"></textarea>
                    </div>
                    <div class="findlocation"></div>
                    <hr>
                    <div class="Postfunction">
                        <div class="memberPostPicture hover"><img src="/icon/pictureicon.png" alt=""><div class="Pictext">相片</div></div>
                        <div class="memberPostLocation hover"><img src="/icon/placemarker.png" alt=""><div class="Pictext">地點</div></div>
                        <div class="lastclickPost Pictext">發佈</div>
                    </div>
                </div>
            </div>
            <div class="allArticle"></div>
            <div class="postloading">
                <div class="postloadingText">Loading</div>
                <img src="/icon/loading3.gif" />
            </div>
        </div>
    </div>

    <script src="/JS/common.js"></script>
    <script src="JS/post.js"></script>
    <script src="JS/index.js"></script>
    <script src="/JS/friend.js"></script>
</body>
</html>