<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
    <link rel="stylesheet" type="text/css" href="/CSS/login.css">
</head>
<body>
    <img class="backgroundImage" src="/icon/Fake.png">
    <div class="signinBack">
        <div class="signinFrame">
            <div class="signinMain">
                <div class="signinText">Fakebook</div>
                <input type="text" class="accountSignin" placeholder="輸入電子信箱"  value="test@test.com">
                <input type="password" class="passwordSignin" placeholder="輸入密碼"  value="test">
                <div class="signinBtn"><div class="signinBtnText">登入帳號</div></div>
                <div class="messageSignin"><div class="messageSigninRespond" style="display: none;"></div></div>
                <div class="nosignin">還沒有帳戶？ <span class="inUp">點此註冊</span> </div>
            </div>
        </div>
        <div class="signupFrame none">
            <div class="signupMain">
                <div class="signupText">Fakebook</div>
                <input type="text" class="nameSignup" name="name" placeholder="輸入姓名 (1~15個字元)" >
                <input type="text" class="accountSignup" name="account" placeholder="輸入電子信箱" >
                <input type="password" class="passwordSignup" name="password" placeholder="輸入密碼 (4個字元或以上)">
                <div class="signupBtn"><div class="signupBtnText">註冊新帳戶</div></div>
                <div class="messageSignup"><div class="messageSignupRespond" style="display: none;"></div></div>
                <div class="nosignin">已經有帳戶？  <span class="inUp">點此登入</span> </div>
            </div>
        </div>
    </div>

    <script src="/JS/login.js"></script>
</body>
</html>