body{
    margin: 0;
    padding: 0;
}

div{
    word-wrap: break-word;
}
a{
    text-decoration:none;
    color: black;
}
.titleAll{
    width: 100%;
    height: 54px;
    position: sticky;
    background-color: #fff;
    top:0;
    z-index: 2;
    border-bottom: 1px solid #E8E8E8;
    user-select: none;
}
.title{
    width: auto;
    height:54px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #d9e8fc;
}
.titleHead{
    width: 270px;
    height: 34px;
    display: flex;
    align-items: center;
    color:#448899;
    font-size:30px;
    font-weight: 700;
    background-color: #d9e8fc;
    margin-left: 30px;
}
.titleHead a{
    text-decoration: none;
    color: #1877f2;
}
.statuslist{
    position: fixed;
}
.positionfriend{
    position: fixed;
    right: 0;
}
.searchFrame{
    width: 680px;
    height:54px;
    display: flex;
    align-items: center;
    margin-left: 55px;
}
.search{
    width: 570px;
    height:26px;
    border-radius: 100px;
    border: 0;
    padding: 7px 55px 7px 55px;
    line-height:26px ;
    background-color: #f0f2f5;
    font-size: 18px;
    background-image: url("/icon/search.png");
    background-position: 10px center;
    background-repeat: no-repeat;
}
.sign{
    width: 340px;
    height: 34px;
    padding: 0 16px 0 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.signlist{
    width: auto;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d9e8fc;
    flex: none;
}
.chatFrame, .notifyFrame, .memberSystemFrame{
    width: 40px;
    height: 40px;
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}
.memberSystemAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.searchResultFrame{
    position: absolute;
    width: 640px;
    height: auto;
    max-height: 300px;
    background-color: #fff;
    top: 54px;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.allSearchResult{
    width: auto;
    height: auto;
}
.searchResultFrame::-webkit-scrollbar{
    width: 10px;
}
.searchResultFrame::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 1px solid slategrey;
    border-radius: 5px;
}
.searchResult{
    width: 640px;
    height: 40px;
    display: flex;
    margin: 10px 0;
}
.searchResultImageFrame{
    width: 43px;
    height: 40px;
    background-color: #b0b7ca;
    border-radius: 50%;
}
.searchResultImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.searchResultTextFrame{
    width: 600px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.noResult{
    width: 630px;
    height: 21px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.memberSystem{
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
.memberFrameSystem{
    width: 120px;
    height: 82px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #757575;
}
.memberCenter, .signOut{
    text-align: center;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    cursor: pointer;
}
.memberCenter:hover, .signOut:hover{
    background-color: #e5e5e5;
}
.memberLink{
    width: 120px;
    height: auto;
}
.notificationbarFrame{
    position: absolute;
    width: 320px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #757575;
    overflow-y: scroll;
    overflow-x: hidden;
}
.notificationbarFrame::-webkit-scrollbar{
    width: 10px;
}
.notificationbarFrame::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 1px solid slategrey;
    border-radius: 5px;
}
.notificationbar{
    width: 300px;
    height: 40px;  
}
.notificationbarText{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    text-align: center;
}
.invitationFrame{
    width: 320px;
    height: 90px;
    border-bottom: 1px solid black;
}
.invitationAvatarMessageFrame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.invitationAvatarFrame{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.invitationAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.invitationMessage{
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
}
.chooseFrame{
    width: 320px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.accept{
    width: 80px;
    height: 30px;
    background-color: #4283d8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.accept:active {
    background-color: #8ea5e5;
    box-shadow: 0 1px #ffffff;
    transform: translateY(1px);
}
.reject{
    width: 80px;
    height: 30px;
    background-color: #949699;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.reject:active {
    background-color: #b0b7ca;
    box-shadow: 0 1px #ffffff;
    transform: translateY(1px);
}
.backChat{
    position: fixed;
    width: auto;
    max-width: 975px;
    height: 450px;
    right: 50px;
    bottom: 0px;
    z-index: 9;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
.chatInterfaceFrame{
    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius:  10px 10px 0 0;
    margin: 0 0 0 5px;
}
/* .chat1{
    right: 60px;
    bottom: 0px;
    z-index: 9;
}
.chat2{
    right: 390px;
    bottom: 0px;
    z-index: 9;
}
.chat3{
    right: 720px;
    bottom: 0px;
    z-index: 9;
} */
.chatTitleFrame{
    display: flex;
    width: 320px;
    height: 48px;
    border-bottom: 1px solid #e5e5e5;
    border-radius:  10px 10px 0 0;
}
.chatImgFrame{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chatNameFrame{
    width: 200px;
    height: 35px;
    padding: 5px;
}
.chatName{
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}
.chatMinusFrame, .chatCloseChatFrame{
    display: flex;
    width: 60px;
    align-items: center;
    margin: 0 5px;
    justify-content: flex-end;
}
.chatMinus, .chatCloseChat{
    margin: auto 0;
    cursor: pointer;
    user-select: none;
}
.chatMessageBoxFrame{
    width: 320px;
    height: 340px;
    /* background-color: #e5e5e5; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.chatInputFrame{
    width: 320px;
    height: 60px;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
}
.chatInput{
    margin: 0 5px 0;
    padding: 0;
    width: 250px;
    height: 35px;
    border: 0;
    background-color: #f0f2f5;
    border-radius: 30px;
    padding: 0 15px;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.chatSend{
    width: 26px;
    height: 26px;
    cursor: pointer;
    user-select: none;
}
.otherSide{
    width: auto;
    height: auto;
    min-height: 36px;
    display: flex;
    align-items: end;
    margin: 5px 0;
}
.otherSideAvatarFrame{
    width: 28px;
    height: 28px;
    
}
.otherSideAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.otherSideMessageFrame{
    width: auto;
    max-width: 200px;
    height: auto;
    min-height: 20px;
    padding: 8px 12px;
    background-color: #e4e6eb;
    border-radius: 20px;
}
.own{
    width: auto;
    height: auto;
    min-height: 36px;
    display: flex;
    align-items: center;
    margin: 5px 5px;
    justify-content: flex-end;
}
.ownMessageFrame{
    width: auto;
    max-width: 200px;
    height: auto;
    min-height: 20px;
    padding: 8px 12px;
    background-color: #d9e8fc;
    border-radius: 20px 20px 0 20px;
}
.chatroombarFrame{
    position: absolute;
    width: 320px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #757575;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chatroombarFrame::-webkit-scrollbar{
    width: 10px;
}
.chatroombarFrame::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 1px solid slategrey;
    border-radius: 5px;
}
.chatroombar{
    width: 300px;
    height: 35px;  
}
.chatroombarText{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px 0;
    text-align: center;
}
.chatroomFrame{
    width: 300px;
    height: 60px;
    background-color: #ebeaea;
    display: flex;
    margin: 5px 10px;
    cursor: pointer;
}
.chatroomAvatarFrame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.chatroomAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chatroomNameFrame{
    width: 230px;
    height: 60px;
    margin-left: 10px;
}
.chatroomName{
    width: 230px;
    height: 30px;
}
.chatroomMessageContent{
    width: 230px;
    height: 30px;
}
.likerSelfPostFrame{
    margin: 5px 0 0 10px;
    display: flex;
    width: 310px;
    height: 60px;
    background-color: #E8E8E8;
}
.likerSelfPostAvatarFrame{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto 0;
}
.likerSelfPostAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.likerSelfPostTextFrame{
    width: 245px;
    height: 60px;
    margin-left: 5px;
}
.likerSelfPostText{
    width: 245px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.likerSelfPostTime{
    width: 225px;
    height: 30px;
    font-size: smaller;
    color: #c0bfbf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*邀請確認通知*/
/* .allacceptInviteFrame{
    width: 300px;
    height: 525px;
    position: absolute;
    background-color: #757575;
    margin: 30px;
    top: 350px;
}
.acceptInvite{
    width: 300px;
    height: 100px;
    background-color: #fff;
    margin: 5px 0px;
    position: relative;
}
.closeNotify{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
} */